.justcen{
  justify-content: center;
}

.extTitle{
  margin-bottom: 0px;
  text-align: center;
  padding: 17px;
  border-bottom: 1px solid;
}

.errorCode{
  color: #de4343 !important;
}

.marTop{
  margin-top: 25px;
}

.text-center{
  text-align: center;
}

.sourceTxt{
  border: 1px solid #dee2e6;
  margin-bottom: 0px;
  border-radius: 5px;
  padding: 6px;
}
