<div class="container verticalcen" [style.height.px]="getHeight()">
  <div class="row justcen wid">
    <div class="col-12 col-md-5">
      <div class="card cardBx">
        <h5 class="card-title extTitle">Currency Converter</h5>
        <div class="card-body" [formGroup]="getCurencyValue" *ngIf="!serverError">
          <div class="datetag">Date: {{storeData?.date | date: 'dd/MM/yyyy'}}</div>
          <div class="form-group">
            <label for="forAmount">Enter Amount</label>
            <input type="number" formControlName="amount" class="form-control" id="forAmount" placeholder="Please enter the amount">
            <small *ngIf="getCurencyValue.controls['amount'].hasError('required') && isSubmitted" class="form-text text-muted errorCode">Number is required.</small>
          </div>
          <div class="row marTop">
            <div class="col">
              <label for="exampleInputEmail1">Source Currency</label>
              <p class="sourceTxt">{{storeData?.base}}</p>
            </div>
            <div class="col">
              <label for="forDestination">Destination Currency</label>
              <select id="forDestination" class="form-control" formControlName="destCurrency">
                <option *ngFor="let currency of destinationCurrency" [value]="currency">
                  {{currency}}
                </option>
              </select>
              <small *ngIf="getCurencyValue.controls['destCurrency'].hasError('required') && isSubmitted" class="form-text text-muted errorCode">Destination Currency is required.</small>
            </div>
          </div>
          <div class="row marTop text-center">
            <div class="col-12 marTop" *ngIf="finalText !== ''">
              <p class="resultp">{{finalText}}</p>
            </div>
          </div>
          <div class="row marTop30 text-center">
            <div class="col">
              <button type="button" class="btn btn-dark btnst" (click)="submitValue()">Submit</button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-secondary btnst" (click)="resetForm()">Reset</button>
            </div>
          </div>
        </div>

        <div class="card-body text-center" *ngIf="serverError">
          <h1 class="font15">Server Error: {{storeData?.error?.type}}</h1>
          <p>{{storeData?.error?.info}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
